p#lot-name{
    background: @hover;
	margin-bottom: 0;
	padding: 3px;
	min-height: @height1;
}
p#lot-name:hover{
	background:@link;
}
p#lot-name a{
	color: @white;
}
p#lot-name a:hover{
}


.new-project{
    padding-bottom: @margin4;
    margin-bottom: @margin4;
    }
    
ul#new-projects{
    
    li{

    padding: 0;
    div.banner-box{
    padding: @padding1;
    min-height: 160px;
	background: @white;
   
    }
    span#relawan-name{
    padding-left: @padding2;
    background: @white;
    }
    div.relawan-box{
        background: @white;
        padding-bottom: @padding1+2;
        img{
         .default;
    	position: @rel;
    	margin-top: -30px;
    	margin-left: @margin3;
    	z-index: 100;
    	border: @br1;
         }
    }
    div.cerita{
    border-top: @br4;
    background: @white;
    font-size: @small;
    min-height: 40px;
    overflow: hidden;
        }

    }
}

ul#archive-story{
    margin: 0;
    list-style: none;
    li{
        border-bottom: @br2;
        padding-bottom: @margin2;
        margin-bottom: @margin2;
        div.media{
              
            }
        div.media-body{
              img.gal{
                  width: 150px;
                  }
            }
        }
    }
