//PROJECT STYLE

.featured-project{
    background: @white;
    margin-top: @margin4;
    margin-bottom: @margin4;
	padding: @padding2 0;
	
    .rounded-corners (@radius: 5px);
    .shadow1;
}

#img-featured{
    margin: @margin2;
	text-align: @center;
	padding-top: @margin2;
}
#text-featured{
	padding: 0 10px;
}