//SPONSOR STYLE
ul.new-transaction{
        margin: 0;
        list-style: none;
        li{
            border-bottom: @br3;
            }
        li:hover{
            background: @white;
            }
    }

//FORM
#profil-foto{
    background: @bg6;
    text-align: @center;
    padding: @padding2 0;
    }

.join-sponsor{
    margin-top: @margin6;
    img:hover{
        transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
    transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -webkit-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -moz-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -o-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
    -ms-transform: rotate(4deg) scale(1) skew(1deg) translate(10px);
        }
        
    }
