//USER STYLE

ul#list-user{
    margin-top: @margin5;
    li{
        background: @bg4;
        border-bottom: 1px solid #000;
        div.user-pics{
            img{
                margin-left: 1px;
                height: 45px;
                width: 45px;
                position: absolute;
                a{border: 1px solid #ddd;
                    
                    }
                }
            }
            div.user-name{
                a{color: @bg2;
                    font-weight: bold;
                }
                a:hover{color: #fff;}
                padding: 10px 5px 10px 50px;
                }
        }
        li:hover{
            background: #407409;
            color: #fff;
            }
    }